<%- include('../header') %>

<div class="main-content">
  <h1>Welcome to the Voting App</h1>

  <!-- Display the number of active polls -->
  <p>Number of active polls: <%= pollCount %></p>

  <div class="button-container">
    <a href="/signup" class="action-button">Sign Up</a>
    <a href="/login" class="action-button">Log In</a>
  </div>
</div>
